<footer>
  <div class="bg-black w-100 overflow-hidden">
    <div class="container py-1 vh-1">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8 text-center">
          <a href="https://www.linkedin.com/company/blackbox-thinking/" aria-label="Brings you to the social media platform Linked In" class="btn btn-dark shadow rounded-circle me-3 mt-4">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://github.com/blackbox-thinking" aria-label="Brings you to the coding platform Github" class="btn btn-dark shadow rounded-circle me-3 mt-4">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>
      <div class="row d-flex justify-content-center py-3">
        <div class="col-12 col-lg-10 col-xl-8 text-center">
          <p>
            Copyright &copy; 2012 - {{ "now" | date: "%Y" }} Blackbox Thinking Limited | 
            <a href="/privacy">Terms of Use &amp; Privacy Policy</a>
          </p>
      </div>
    </div>
  </div>
</footer>