  <div class="container-fluid m-0 bbox-divider">
    <div class="row">
      <div class="col">
        <div>&nbsp;</div>
      </div>
    </div>
  </div>
<footer>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <ul class="social-networks">
  {% for social_network in site.data.social_networks %}
        <li>
          <a href="{{ social_network.link }}">
            <span class="fa-stack fa-2x">
              <i class="fas bg-{{ social_network.icon_name }} fa-circle fa-stack-2x"></i>
              <i class="fab fa-{{ social_network.icon_name }} fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
  {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid copyright">
    <div class="row d-flex justify-content-center my-0">
      <p>
        See something on this page that is not quite right? <a href="https://github.com/blackbox-thinking/blackbox-thinking.github.io">Raise a pull request</a>
      </p>
    </div>
    <div class="row d-flex justify-content-center my-0">
      <p>
        <span class="keep-inline">&copy; 2012 - {{ "now" | date: "%Y" }} Blackbox Thinking Limited</span> | <span class="keep-inline">All rights reserved | <a href="#">Terms &amp; privacy</a></span>
      </p>
    </div>
  </div>
  <!-- ./container -->
</footer>
