// Blackbox greyscale colors
$bbox-color-black:  #232323;
$bbox-color-silver: #829399;
$bbox-color-grey:   #ccdbdc;
$bbox-color-white:  #f9f9f9;

// Blackbox theme colors
$bbox-color-yellow: #e7c45d;
$bbox-color-red:    #8b2635;
$bbox-color-cyan:   #01baef;
$bbox-color-green:  #1e9590;
$bbox-color-blue:   #336699;
$bbox-color-blue-faded: rgba(51, 102, 153, 0.4);

body {
    background-color: $bbox-color-white;
    color: $bbox-color-black;
    font-family: "Open Sans",sans-serif;
    // position page under nav-bar
    padding-top: 3.5rem;
    padding-bottom: 0rem;
    min-height: 40rem;

    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.top-logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    margin: 0.5rem;
}

#intro {
    background-image: url("https://s3.eu-west-2.amazonaws.com/assets.blackboxthinking.com/images/home_banner_bg.jpg");
    height: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#abid_image {
    background-image: url("https://s3.eu-west-2.amazonaws.com/assets.blackboxthinking.com/images/abid-banner.png") bottom/contain no-repeat;

    height: 100%;
    vertical-align: bottom;

    .img {
        width: 100%;
        object-fit: contain;
    }
}

.blog_img {
    width: 100%;
    object-fit: contain;
}


.intro-text {
    padding:    2rem;
    color: $bbox-color-grey;
    background-color: $bbox-color-blue-faded;
}

.blog-card {
    height: 40rem
}

.bg-black {
    background-color: $bbox-color-black;
}


.keep-inline {
    display: inline-block;
}

.bbox-divider {
    background-color: $bbox-color-blue;
}

.about-bbox {
    background-color: $bbox-color-cyan;
}

.blog-post-top-3 {
    background-color: $bbox-color-white;
}

