/* =========================================================
    Footer
============================================================ */
$facebook-color: #4267b2;
$twitter-color: #38A1F3;
$youtube-color:  #ED3833;
$instagram-color: #9e3f96;
$github-color: #000000;
$linkedin-color: #0077B5;


footer {
	background: #2b2b2b;
	text-align: center;
	color: #ddd;
	padding: 1rem 0 0 0;

	.copyright {
		background: black;
		text-align: center;
		color: #ddd;
		padding-top: 1rem;
		font-size: 0.75rem
	}

	a {
		color: #ddd;
	}

	a:hover {
		color: #fff;
	}

	ul.social-networks {
		list-style:none;
		align: center;
	}

	ul.social-networks {
		padding-left: 0px;

		li {
			display:inline;

			i {
				display:inline-block;
			}

			a {
				color: #5e5e5e;
				margin: 0.25rem 0.25rem;
			}

			a:hover {
				text-decoration:none;
				-webkit-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				-ms-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out;
			}
		}
	}
}


.fa-stack { font-size: 1.25rem; }

.fa-facebook,
.fa-twitter,
.fa-youtube,
.fa-instagram,
.fa-github,
.fa-linkedin {
	color: #a3a3a3;
}

.fa-stack:hover .bg-facebook.fa-circle {
    color: $facebook-color;
}

.fa-stack:hover .bg-twitter.fa-circle {
    color: $twitter-color;
}

.fa-stack:hover .bg-youtube.fa-circle {
    color: $youtube-color;
}

.fa-stack:hover .bg-instagram.fa-circle {
    color: $instagram-color;
}

.fa-stack:hover .bg-github.fa-circle {
    color: $github-color;
}

.fa-stack:hover .bg-linkedin.fa-circle {
    color: $linkedin-color;
}

.fa-stack:hover .fa-facebook,
.fa-stack:hover .fa-twitter,
.fa-stack:hover .fa-youtube,
.fa-stack:hover .fa-instagram,
.fa-stack:hover .fa-github,
.fa-stack:hover .fa-linkedin {
    color: white;
}
