---
layout: default
---
    <main>
      <div class="w-100 overflow-hidden bg-gray-100" id="top">
        <div class="container position-relative">
          <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" style="background-image: url(/assets/img/banner.png);"></div>
          <div class="row">
            <p>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
            </p>
          <div class="col-lg-6 py-6 position-relative">
              <h1 class="display-1 fw-bold mt-5 text-light bento-item blue">Tech Simplified.</h1>
              <h1 class="display-1 fw-bold mt-5 text-dark bento-item blue">Success Amplified.</h1>
              <p>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="py-vh-2 bg-white text-light w-100 overflow-hidden">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8 text-center">
                <p class="text-secondary lead"> </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-vh-4 bg-gray-900 text-light w-100 overflow-hidden" id="about">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="row d-flex justify-content-center text-center">
              <div class="col-lg-8 text-center">
                <p class="display-4 fw-bold mt-5 text-color-blue">Over a {{ "now" | date: "%Y" | minus: 2012 }} years delivering both tech and success</p>
                <h3 class="display-6 mb-5">
                  We've help companies of all sizes from small local companies to global enterprises and governments. We aim to empower businesses of all sizes to harness the transformative power of AI through education, partnering, and custom solutions.
                </h3>
                <h3 class="display-6 mb-5">
                  With decades of experience in technology, Blackbox Thinking stands as a seasoned partner, trusted by enterprise corporations and governments to deliver award winning solutions for our clients.
                </h3>
                <h3 class="display-6 mb-5">
                  Don't get left behind as we enter a new era of enhancing businesses with AI.
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="py-vh-5 w-100 overflow-hidden" id="services">
        <div class="container">
          <div class="row d-flex justify-content-end">
            <div class="col-lg-12 bento-item blue mb-3 px-5"><h2 class="display-4">Three ways we can help you</h2></div>
          </div>
          <div class="row d-flex align-items-center p-2">
            <div class="col-md-6 col-lg-4">
              <div class="bento-item bg-light border border-dark m-2">
                <h3>AI Development</h3>
                <p><img src="/assets/img/check-icon.png" height="25" width="25" />Workflow automation</p>
                <p><img src="/assets/img/check-icon.png" height="25" width="25" />Data pipelines</p>
                <p><img src="/assets/img/check-icon.png" height="25" width="25" />Custom solutions</p>
              </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
              <div class="bento-item bg-light border border-dark m-2">
                <h3>Enterprise Consulting</h3>
                <p><img src="/assets/img/check-icon.png" height="25" width="25" />DevOps solutions</p>
                <p><img src="/assets/img/check-icon.png" height="25" width="25" />Security advisory</p>
                <p><img src="/assets/img/check-icon.png" height="25" width="25" />Strategic direction</p>
              </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
              <div class="bento-item bg-light border border-dark m-2">
                <h3>Platform Engineering</h3>
                <p><img src="/assets/img/check-icon.png" height="25" width="25" />Platform delivery</p>
                <p><img src="/assets/img/check-icon.png" height="25" width="25" />Cloud engineering</p>
                <p><img src="/assets/img/check-icon.png" height="25" width="25" />Development lifecycle</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-vh-4 bg-gray-900 text-light w-100 overflow-hidden" id="founder">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <p class="display-4 fw-bold mt-5 text-color-blue">Founder</p>
              <h3 class="display-6 mb-5">
                With over 25 years of experience in the technology industry, Abid Khairul has a proven track record of delivering successful outcomes for clients.
              </h3>
              <h3 class="display-6 mb-5">
                He started Blackbox Thinking in 2012 to help businesses accelerate their success with technology.
              </h3>
          
            </div>
            <div class="col-lg-6">
              <img src="/assets/img/abid-khairul.png" class="img-fluid" alt="Abid Khairul">
              <div class="col-12 col-lg-10 col-xl-8 text-center">
                <a href="https://x.com/abid_khairul" aria-label="Brings you to the social media platform X" class="btn btn-dark shadow rounded-circle me-3 mt-4">
                  <i class="bi bi-twitter-x"></i>
                </a>
                <a href="https://smart.abidkhairul.com/" aria-label="Brings you to the Substack newsletter" class="btn btn-dark shadow rounded-circle me-3 mt-4">
                  <i class="bi bi-substack"></i>
                </a>
                <a href="https://linkedin.com/in/abidkhairul" aria-label="Brings you to the social media platform Linked In" class="btn btn-dark shadow rounded-circle me-3 mt-4">
                  <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.instagram.com/abid_khairul" aria-label="Brings you to the social media platform Instagram" class="btn btn-dark shadow rounded-circle me-3 mt-4">
                  <i class="bi bi-instagram"></i>
                </a>
                <a href="https://github.com/abid-khairul" aria-label="Brings you to the coding platform Github" class="btn btn-dark shadow rounded-circle me-3 mt-4">
                  <i class="bi bi-github"></i>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
