---
layout: default
---

<h2>{{ page.title }}</h2>
<p>{{ post.author }} - {{ post.date | date: "%d %b %Y" }}</p>


{{ content }}


{% if page.commentIssueId %}
  <div id="githubcomment">
    <h2>Comments</h2>
    <div id="header">
        <a class="btn btn-primary" href="https://github.com/blackbox-thinking/blackbox-thinking.github.io/issues/{{page.commentIssueId}}"><span class="buttontext"><i class="fa fa-comment"></i>  Comment</span></a>

        Want to leave a comment? Visit this post's issue page on GitHub (you'll need a GitHub account. What? Like you already don't have one? :).
    <div>
  </div>
{% endif %}
</div>
</div>
